<html>

<head xmlns="http://www.thymeleaf.org">
	<link rel="stylesheet" href="../static/simple.css">
	<title>Welcome</title>
</head>

<body>
	<h1>Listing Page</h1>
	<p>I want my list</p>

	<table class="" th:if="${not #lists.isEmpty(employees)}">
		<thead>
			<tr>
				<th>Employee ID</th>
				<th>Name</th>
				<th>Date of Joining</th>
				<th>Pay</th>
				<th>Title</th>
				<th>EmpType</th>
				<th>Department</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee:${employees}">
				<td th:text="${employee.empId}"></td>
				<td th:text="${employee.name}"></td>
				<td th:text="${employee.doj}"></td>
				<td th:text="${employee.pay}"></td>
				<td th:text="${employee.title}"></td>
				<td th:text="${employee.empType}"></td>
				<td th:text="${employee.department}"></td>
			</tr>
		</tbody>
	</table>
</body>

</html>