<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
	<div th:fragment="head">
		<nav>
			<a class="button" href="/">Home</a>
			<a class="button" href="/about">About</a>
			<a class="button" href="/welcome">Welcome</a>

		</nav>
		<div >
		  <p class="button" th:if="${session.loginuser}" th:text="${session.loginuser.username}"></p>
		</div>
	</div>
</head>

<body>
</body>

</html>